<p>
  aboutus works!
</p>
<html>

<head>
  <meta charset="utf-8">

</head>

<body>

  <div class="team">
    <h1>OUR TEAM</h1>
    <hr style="width:440px;">
    <div class="ps">
      <a>
        <img src="assets/AboutUs/YB.jpg" data-toggle="collapse" data-target="#p1" style="padding:5px;">
        <br />
      
      </a>
      <span class="name">YASALA BALAIAH</span>  
      <a>
        <img src="assets/AboutUs/YP.jpg" data-toggle="collapse" data-target="#p2" style="padding:5px;">
      </a>
     <span class="name">YASALA PRAKASH</span>
    </div>
    <!--  
<div class="container collapse" id="p1" style=" width:600px;
margin: auto;
    font-size: 20px;
    color:white;
    text-align: justify;height:0;
    overflow:hidden;">
  
  <span class="name">YASALA BALAIAH</span>
  <button type="button" class="close" >&times;</button>
  <hr style="width:190px;">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque
        ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros,
        eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis</p>
    </div>
   
  <div class="collapse" id="p2" style=" width:600px;
  margin: auto;
      font-size: 20px;
      color:white;
      text-align: justify;height:0;
      overflow:hidden;">
    
      <span class="name">YASALA PRAKASH</span>
      <hr style="width:190px;">
      <p style="   ">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque
        ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros,
        eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis</p>
    
  </div>-->
  </div> 

</body>

</html>