html,body{
    margin:0;
    padding:0;
    width:100%;
}
body{
    width: 100%;
    height:100vh;
    background:linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("/assets/background-productspage/orange.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.header{
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}