
<div class="container" style="position:absolute;top:120px;left:220px">
    <table class="table table-hover" style="width:75%;align-content: center">
            <thead>
                    <tr>
                      <th scope="col">&nbsp;&nbsp; Painting selected</th>
                      <th scope="col">&nbsp;&nbsp; Painting Description</th>
                      <!-- <th scope="col">&nbsp;&nbsp;Quantity</th> -->
                      <th scope="col">&nbsp;&nbsp;Price</th>
                    </tr>
                  </thead>   
      
      <tbody>
        <tr class="table" *ngFor="let p of totalCartList" style="width:3px;">
          <td scope="row" style="width:20%; align-items: center; padding: 1rem"><img src="{{p.img}}" class="img-thumbnail" style="height:125px;width:125px;" ></td>
          <td style="width:30%; vertical-align: middle ;"> <h4>{{p.productName}}</h4></td>
          <!-- <td style="vertical-align: middle ; width: 20%">
              
                <a class="btn btn-success" role="button" (click)=addToCart(p)>+</a>{{p.quantity}} 
                <a class="btn btn-success" role="button" (click)=removeFromCart(p)>-</a>
    
       
        </td> -->
          <td style="vertical-align: middle ; width: 20%">OnRequest</td>
         
        
        </tr>
       
      </tbody>
    </table> 
    </div>
    
    
    